<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="/">
        <img src="../../assets/img/eSTUDENT-logo.png" height="50" class="d-inline-block align-top" alt="">
    </a>
</nav>